<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
  <div id="w" class="anchor"></div>
  <!-- Место решения -->
  <header>
    <div class="wrapper">
      <div class="left_column">
        <h1>ToDo Сервис</h1>
      </div>

      <div class="right_column">
        <ul class="mail_nav">
          <li class="active_a_top"><a href="#">Задачи</a></li>
          <li><a href="creator.php">Создать</a></li>
        </ul>
        <ul class="user_nav">
          {if isset($username)}
          <li class='username'><a href='#'>{$username}</a></li>
          <li><a href='?act=exit'>Выход</a></li>
          {else}
          <li><a href='#login'>Войти</a></li>
          {/if}
        </ul>
      </div>
    </div>
  </header>
  <div class="login" id="login">
    <a href='#' class='login_close'></a>
    <div class="login_wrap">
      <div class="login_content">
        <a href="#" class="login_exit">X</a>
        <h1>АВТОРИЗАЦИЯ</h1>
        <form class='auth' method='POST'>
          <fieldset>
            <div class='input_field'>
              <input type='text' name='username' maxlength='255' required placeholder='Логин'>
            </div>
            <div class='input_field'>
              <input type='password' name='password' maxlength='255' required placeholder='Пароль'>
            </div>
            <div class='input_field'>
              <input type='submit' id='login_button' value='Авторизоваться'>
            </div>
            <div class='input_field'>
              <a href="#registration">Зарегистрироваться</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="login" id="registration">
    <a href='#' class='login_close'></a>
    <div class="login_wrap">
      <div class="login_content">
        <a href="#" class="login_exit">X</a>
        <h1>РЕГИСТРАЦИЯ</h1>
        <form class='auth' method='POST'>
          <fieldset>
            <div class='input_field'>
              <input type='text' name='reg_username' maxlength='255' required placeholder='Логин'>
            </div>
            <div class='input_field'>
              <input type='password' name='reg_password' maxlength='255' required placeholder='Пароль'>
            </div>
            <div class='input_field'>
              <input type='submit' id='reg_button' value='Зарегистрироваться'>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="login" id="error">
    <a href='#login' class='login_close'></a>
    <div class="login_wrap">
      <div class="login_content">
        <a href="#login" class="login_exit">X</a>
        <h1>Неправильный логин или пароль.</h1>
      </div>
    </div>
  </div>
  <div class="login" id="error_username">
    <a href='#login' class='login_close'></a>
    <div class="login_wrap">
      <div class="login_content">
        <a href="#login" class="login_exit">X</a>
        <h1>Такой пользователь уже существует.</h1>
      </div>
    </div>
  </div>
  <main>
    <div class="wrapper">
      <nav>
        <h2>Задачи</h2>
        <ul class="nav-list">
          <li>
            <div class="nav" id="all"><a onclick="sort(2)">Все</a></div>
          </li>
          <li>
            <div id="next"><a onclick="sort(1)">Предстоящие</a></div>
          </li>
          <li>
            <div id="prev"><a onclick="sort(0)">Выполненные</a></div>
          </li>
        </ul>
      </nav>

      <section>
        <h2> Все </h2>
        {foreach from=$tasks item=task}
        <article class='{$task.complition}' id='task{$task.id}'>
          <p>
          <h3>{$task.title}</h3>
          </p>
          <p>{$task.content}</p>
          <p><a onclick='comp({$task.id})' id='complete'>Выполнено</a> &nbsp;·&nbsp; <a onclick='uncomp({$task.id})'
              id='uncomplete'>Не выполнено</a> &nbsp;·&nbsp; <a onclick='del({$task.id})'>Удалить</a></p>
        </article>
        {/foreach}
      </section>
    </div>
  </main>

  <script>
    function del(id) {
      $('#task' + id).remove();
      $.get("index.php", {
          delete: id
        },
        alert("Задача удалена")
      )
    };

    function comp(id) {
      $('#task' + id).removeClass('uncompleted');
      $('#task' + id).addClass('completed');
      $.get("index.php", {
        complete: id
      })
    };

    function uncomp(id) {
      $('#task' + id).addClass('uncompleted');
      $('#task' + id).removeClass('completed');
      $.get("index.php", {
        uncomplete: id
      })
    };

    function sort(type) {
      if(type==1){
        $('.completed').hide();
        $('.uncompleted').show();
        $('#next').addClass('nav');
        $('#all').removeClass('nav');
        $('#prev').removeClass('nav');
      } else if(type==0){
        $('.completed').show();
        $('.uncompleted').hide();
        $('#next').removeClass('nav');
        $('#all').removeClass('nav');
        $('#prev').addClass('nav');
      } else{
        $('.completed').show();
        $('.uncompleted').show();
        $('#next').removeClass('nav');
        $('#all').addClass('nav');
        $('#prev').removeClass('nav');
      }
    };

  </script>

  <footer>
    <div class="wrapper">
      <p>
        (С) Курс Web-программирования | ПГНИУ
      </p>
    </div>
  </footer>
</body>

</html>